* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: white;
    background-color: black;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}


a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

.avatar {
  max-width: 14%;
    height: auto;
    width: auto;
}

.coiffure {
    max-width: 35%;
    height: auto;
    width: auto;
}
